* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(229, 230, 227);
}

h1, h3, p {
  margin: 0;
}

header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e4dbe;
}

.title {
  color: #FFF;
  margin-bottom: 10px;
}

#title-span {
  height: 30px;
}

.inputs {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.folder-select {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.folder-select,
.new-folder-form,
.url-form {
  width: 100%;
  display: flex;
  justify-content: center;
}


select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

.folder-dropdown {
  width: 100%;
  border-radius: 5px;
}

#new-folder-submit,
#url-submit,
#new-folder-input,
#url-input,
#folder-dropdown {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#new-folder-input,
#url-input {
  width: 80%;
  min-width: 220px;
  margin-right: 10px;
}

#url-submit,
#new-folder-submit {
  width: 20%;
}

.new-folder-form,
.url-form {

}

main {
  display: flex;
  min-height: calc(100vh - 200px);
}

.folders {
  width: 33.333%;
}

.folders,
.links {
  padding: 10px;
}

.sub-title {
  margin-bottom: 10px;
}

.folder {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 18px;
  text-align: left;
  padding: 0 10px;
  background: #848fb5;
  background-image: url('assets/images/arrow.svg');
  background-size: 20px;
  background-position: right 10px top 5px;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 5px rgb(80, 80, 80);
  cursor: pointer;
  border: none;
  margin: 10px 0;
  transition: all .5s;
}

.folder:hover {
  transform: scale(1.05);
  background-color: rgb(12, 31, 130);
  color: #FFF;
}

.links {
  width: 66.666%;
  /*background-color: lightgrey;*/
}
