* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(229, 230, 227);
}

h1, h2, h3, p {
  margin: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*:focus {
  outline: none;
}


/*==============
=====Header=====
================*/

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(233, 91, 38);
  padding: 10px;
}

/*Title*/
.title {
  font-size: 72px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title-span {
  height: 70px;
}

/*Inputs*/
.inputs {
  height: 50%;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.folder-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.folder-dropdown,
#new-folder-input,
#url-input,
#new-folder-submit,
#url-submit {
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-style: solid;
  border-color: rgb(126, 211, 223);
  border-width: 2px;
  transition: all .5s;
}

.folder-dropdown {
  cursor: pointer;
}

.new-folder-form,
.url-form {
  display: flex;
  flex-direction: row-reverse;
}

#new-folder-input,
#url-input {
  width: 80%;
  border-radius: 5px 0 0 5px;
  border-width: 2px 0 2px 2px;
}

#new-folder-submit,
#url-submit {
  width: 20%;
  border-radius: 0 5px 5px 0;
  background-color: rgb(126, 211, 223);
  border-width: 2px 2px 2px 0;
  cursor: pointer;
}

#new-folder-submit:hover,
#url-submit:hover {
  background-color: rgb(29, 134, 149);
  border-color: rgb(29, 134, 149);
  color: #fff;
}

#new-folder-submit:hover + #new-folder-input,
#url-submit:hover + #url-input,
.folder-dropdown:hover {
  border-color: rgb(29, 134, 149);
}
